.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

#container {
    width: 80%;
    margin: auto;
}

#display {
    margin-top: 2em;
}

#movie {
    display: inline-block;
    width: 89%;
    text-align: center;
    background-color: #AEAE9E;
    border-radius: 1em;
}

#chances {
    display: inline-block;
    width: 10%;
    text-align: center;
    border-radius: 1em;
}

.green {
    background-color: rgba(0, 255, 0, 0.85);
}

.yellow {
    background-color: rgba(255, 255, 0, 0.85);
}

.red {
    background-color: rgba(255, 0, 0, 0.85);
}

#keyboard {
    width: 100%;
    margin-top: 2em;
    background-color: #EEEEEB;
    border-radius: 1em;
}

.keys {
    padding: 1em;
    line-height: 2em;
}

.alphabets {
    margin-right: 1.5em;
    margin-left: 1.5em;
    height: 3.5em;
    width: 4em;
}

#top-row {
    margin-left: 2em;
}

#mid-row {
    margin-left: 6em;
}

#bottom-row {
    margin-left: 12em;
}

#button-bar {
    margin-top: 2em;
}

#restart, #give-up {
    height: 3.5em;
    width: 6em;
}

#status-bar {
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: black;
}